@import "tailwindcss";

body{
  background-color: #3a3a3a;
  color: white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

@media screen and (max-width: 1040px) {
  #homeBg{
    gap: 10px;
  }
}

@media screen and (max-width: 580px) {
  #rotating_earth{
    height: 400px;
  }
}

@media screen and (max-width: 500px) {
  #rotating_earth{
    max-height: 350px;
    max-width: 350px;
  }

  #about{
    gap: 5px;
  }

  #profileImg{
    height: 300px;
    width: 300px;
  }
}

@media screen and (max-width: 712px) {
  #searchFilter{
    justify-content: center;
    gap: 0px;
  }
}
